@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: fit-content;
    /* background-color: black; */
    overflow-x: hidden;
}
/* ==========================header========================== */
 .container{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Overpass", sans-serif;
    background: 
    url('/images/bg-pattern-intro-desktop.svg') no-repeat center center,
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 80px;
    padding-top: 80px;
 }
        header {
            width: 80%;
            display: flex;
            align-items: center;
            z-index: 1000;
        }
        nav{
            width: 90%;
            padding-left: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* background-color: turquoise; */

        }
        .logo-section{
            width: 30%;
            display: flex;
            align-items: center;
        }
        nav ul {
            list-style: none;
            display: flex;
        }
        nav ul li {
            position: relative;
            margin: 0px 10px;
        }
        nav ul li a {
            font-size: 20px;
            padding: 10px;
            color: hsl(207, 13%, 34%);
            display: block;
            text-decoration: none;
        }
        nav ul li a:hover {
            color: hsl(240, 10%, 16%);
            font-weight: 500;
        }
        nav ul li ul {
            position: absolute;
            left: 0;
            width: 150px;
            border-radius: 3px;
            box-shadow: 0 5px 30px hsl(207, 13%, 34%);
            background-color: white;
            display: none;
        }
        nav ul li ul li {
            width: 100%;
        }
        nav ul li:hover > ul {
            display: block;
        }
        #menu-bar {
            display: none;
        }
        label {
            cursor: pointer;
            display: none;
            font-size: 20px;
        }
        #product-menu,
        #company-menu,
        #connect-menu {
            display: none;
        }
        .product,.company, .connect{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        .block-text{
    margin-top: 100px;
    color: white;
    font-size: 60px;
}
.menu-bar{
    display: none;
}
p{
    color: white;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button button {
    border: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Overpass", sans-serif;;
}
.button :nth-child(1){
    background-color: transparent;
    color: white;
    font-weight: 500;
}
.button :nth-child(1):hover{
    background-color: white;
    color: hsl(353, 100%, 62%);
}
.button :nth-child(2){
    background-color: white;
    color: hsl(353, 100%, 62%);
    font-weight: 500;
}
.button :nth-child(2):hover{
    background-color: transparent;
    color: white;
}
#buttons{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    gap: 20px;
}
#buttons :nth-child(1){
    background-color: white;
    color: hsl(353, 100%, 62%);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Overpass", sans-serif;
    cursor: pointer;
    font-weight: 600;
}
#buttons :nth-child(1):hover{
    background-color: transparent;
    color: white;
}
#buttons :nth-child(2){
    background-color: transparent;
    color: white;
    border: thin solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-family: "Overpass", sans-serif;
    cursor: pointer;
}
#buttons :nth-child(2):hover{
    background-color: white;
    color: hsl(353, 100%, 62%);
}
hr{
    display: none;
}
/* ==========================main========================== */
main{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: "Overpass", sans-serif;
}
.main-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.editor-text{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 150px; */
}
.subtitle{
    font-size: 24px;
    color: hsl(237, 23%, 31%);
    margin: 40px 0;
}
.description{
    font-size: 16px;
    color: hsl(207, 13%, 34%);
    line-height: 25px;
}
.editor-image{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%; 
    height: 100%;
}
.editor-image :nth-child(2){
    display: none;
}
.title-text{
    font-family: "Overpass", sans-serif;
    font-size: 40px;
    color: hsl(237, 23%, 31%);
    position: absolute;
    left: 35%;
    top: 90%;
}
/* ============================art-infrastructure==========================  */
.art-infrastructure{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    url('/images/bg-pattern-circles.svg'),
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 31%));
    background-position: left, center;
    background-repeat: no-repeat;
    margin-top: 130px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    font-family: "Overpass", sans-serif;
}
.art-main{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.art-image{
    width: 50%;
    display: flex;
    padding: 0;
    margin-left: -80px;
    align-items: center;
}
.art-text{
    width: 40%;
    padding: 0 25px;
}
.art-header{
    font-size: 24px;
    color: white;
    margin: 30px 0;
}
.art-description{
    font-size: 16px;
    line-height: 25px;

}
/* ============================laptop-section==========================  */
.laptop-section{
    height: 95vh;
    width: 100%;
    display: flex;
    font-family: "Overpass", sans-serif;
    /* background-color: red; */
    margin-top: 100px;
}
.laptop-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.laptop-img{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%; 
    height: 100%;
    margin-left: -250px;
}
.laptop-img :nth-child(2){
    display: none;
}

.laptop-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px; 
}
.laptop-subtitle{
    font-size: 24px;
    color: hsl(237, 23%, 31%);
    margin: 40px 0;
}
.laptop-description{
    font-size: 16px;
    color: hsl(207, 13%, 34%);
    line-height: 25px;
}
/* ========================footer========================== */
footer{
    width: 100%;
    background-color: hsl(237, 17%, 21%);
    font-family: "Overpass", sans-serif;
    padding: 50px 0;
    margin-top: 80px;
    border-top-right-radius: 80px;
}
.footer-container{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.footer-link{
    list-style: none;
}
.footer-link p{
    margin: 10px 0;
    margin-left: -10px;
}
.footer-dropdown{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: -10px;
    list-style: none;
}
.footer-dropdown a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer-dropdown a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
/* ========================footer-bottom==========================  */
@media (max-width: 768px) {
    .container{
        padding-top: 70px;
        height: 65vh;
    }
            header {
                width: 100%;
                padding: 20px;
                position: absolute;
                top: 40px;
                flex-direction: column;
                align-items: flex-start;
            }
            label {
                display: block;
            }
            .product{
                color: black;
            }
            .company{
                color: black;
            }
            .connect{
                color: black;
            }
            nav {
                background-color: white;
                padding-left: 0px;
                width: 100%;
                border-radius: 10px;
                display: none;
                flex-direction: column;
            }
            nav ul {
                flex-direction: column;
                width: 100%;
                border-radius: 10px;
            }
            nav ul li {
                width: 100%;
                margin: 0;
                border-radius: 10px;
            }
            nav ul li ul {
                position: relative;
                width: 80%;
                margin: 0 auto;
                background-color: #f5f5f5;
                display: none;
                box-shadow: none;
                border-radius: 10px;
            }
            hr{
                display: block;
                width: 90%;
                margin: 0 auto;
                margin-top: 10px;
            }
            nav ul li ul li {
                margin: 0 auto;
                width: fit-content;
            }
            nav ul li ul li a{
                padding-left: -20px;
            }
            nav ul li a {
                color: black;
            }
            #menu-bar:checked ~ nav {
                display: block;
            }
            nav ul li input {
                display: none;
            }
            nav ul li input:checked ~ nav {
                display: block;
            }
            nav ul li label {
                display: block;
                width: 100%;
                padding: 20px;
                cursor: pointer;
            }
            .menu-bar{
                display: block;
                position: absolute;
                top: 30px;
                right: 20px;
            }
            .button{
                flex-direction: column;
                margin: 20px auto;
                width: 50%;
            }
            .button :nth-child(1){
                background-color: transparent;
                color: hsl(208, 49%, 24%);
                font-weight: 600;
            }
            .button :nth-child(2){
                background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
                color: white;
            }
            .block-text{
                font-size: 40px;
                text-align: center;
                padding: 0 40px;
                margin-bottom: 20px;
            }
            .sub-text{
                text-align: center;
                padding: 0 30px;
            }
            #buttons{
                flex-direction: row;
                width: 80%;
                gap: 20px;
            }
            #buttons button{
                width: 100%;
                padding: 10px 20px;
            }
            main{
                align-items: center;
            }
            .main-container{
                width: 100%;
                margin-top: 200px;
                flex-direction: column-reverse;
            }
            .editor-text{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -100px;
            }
            .text{
                width: 80%;
                text-align: center;
            }
            .subtitle{
                font-size: 30px;
                margin: 20px 40px;
                font-weight: 600    ;
            }
            .editor-image{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .editor-image :nth-child(1){
                display: none;
            }
            .editor-image :nth-child(2){
                display: block;
                width: 100%;
                height: 100%;
            }
             .art-infrastructure{
            margin-top: 600px;
            height: fit-content;
            background-position: center;
            background-size: contain;
            }
            .art-main{
                flex-direction: column;
            }
            .art-image{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0px;
                margin-top: -200px;
            }
            .art-text{
                width: 100%;
                padding: 0 50px;
                text-align: center;
                margin-bottom: 80px; 
            }
            .art-header{
                font-size: 30px;
                margin: 20px 0;
            }
            .laptop-container{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: fit-content;
            }
            .laptop-img{
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0;
            }
            .laptop-img :nth-child(2){
                display: block;
                width: 100%;
                height: 100%;
            }
            .laptop-img :nth-child(1){
                display: none;
            }
            .laptop-subtitle{
                margin: 20px 0;
                font-size: 30px;
                font-weight: 600;
            }
            .laptop-text{
                width: 100%;
                height: fit-content;
                align-items: center;
                text-align: center;
                padding-left: 0;
                padding: 0 60px;
            }
            footer{
                margin-top: 120px;
            }
            footer img{
                width: 25%;
                margin: 30px auto;
            }
            .footer-link p{
                font-weight: 600;
                font-size: 24px;
                margin-top: 30px;
            }
            .footer-dropdown a:hover{
                text-decoration: none;
            }   
            .footer-container{
            flex-direction: column;
            text-align: center;
            }
            
        }
